{% extends 'registration/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="row">
  <h4>Sign Up</h4>
  <form method="POST" class="container">
    {% csrf_token %}
    <div class="row">
      <div class="input-field col s6">
        <input type="text" name="username" maxlength="20" autofocus required id="id_username" class="validate">
        <label for="id_username" class="active">Username</label>
        <span class="red-text small-text">{{ form.username.errors }}</span>
      </div>
      <div class="input-field col s6">
        <input type="email" name="email" maxlength="45" id="id_email" required>
        <label for="id_email" class="active" class="validate">Email</label>
        <span class="red-text small-text">{{ form.email.errors }}</span>
      </div>
    </div>
    
    <div class="row">
      <div class="input-field col s6">
        <input type="text" name="first_name" maxlength="20" required id="id_first_name" class="validate">
        <label for="id_first_name" class="active">First Name</label>
        <span class="red-text small-text">{{ form.first_name.errors }}</span>
      </div>
      <div class="input-field col s6">
        <input type="text" name="last_name" maxlength="20" required id="id_last_name" class="validate">
        <label for="id_last_name" class="active">Last Name</label>
        <span class="red-text small-text">{{ form.last_name.errors }}</span>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input type="text" name="favorite_treat" maxlength="20" id="id_favorite_candy">
        <label for="id_favorite_candy" class="active">Favorite Candy/Treat</label>
        <span class="red-text small-text">{{ form.favorite_candy.errors }}</span>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input type="password" name="password1"  required id="id_password1" minlength="8" class="validate">
        <label for="id_password1" class="active">Password</label>
        <span class="red-text small-text">{{ form.password1.errors }}</span>
      </div>
      <div class="input-field col s6">
        <input type="password" name="password2" maxlength="45" required id="id_password2" minlength="8" class="validate">
        <label for="id_password2" class="active">Confirm Password</label>
        <span class="red-text small-text">{{ form.password2.errors }}</span>
      </div>
    </div>

    <button type="submit" class="btn">Sign up</button>
  </form>
  <p><a href="/accounts/login">Already registered? Sign in here.</a></p>
</div>
{% endblock %}