{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block additionalStatic %}
{% load static %}
<link rel="stylesheet" href="{% static 'errors/css/home.css' %}">
<script src="{% static 'errors/js/filterErrors.js' %}" defer></script>
{% endblock %}

{% block navbarContent %}
<select class="browser-default filter-menu xlarge-text" id="lang-filter">
    {% for s in stacks %}
    <option value="{{s.id}}" {% if active_stack == s %} selected {% endif %}>{{s.language.name}}</option>
    {% endfor %}
</select>
{% endblock %}

{% block content %}
<div class="row" id="error-list">
    {% for e in errors %}
    <a href="{% url 'main:show' e.id %}">
    <div class="card col s4 error-card">
        <div class="card-content">
        <span class="card-title">{{e.message}}</span>
        </div>
        <div class="card-action">
            <span>Errors submitted: {{e.student_submissions.count}}</span>
        </div>
    </div>
    </a>
    {% endfor %}
    <p>Don't see your error? Add one: <form action="{% url 'main:add_error' %}" method="post">
        {% csrf_token %}
        <input type="text" name="error" class="browser-default">
        <input type="hidden" name="language" id="lang-form-input" value="{{active_stack.language.id}}">
        <input type="submit" value="Add" class="btn"></form></p>
</div>
{% endblock %}