{% extends 'base.html' %}
{% block title %}View{% endblock %}

{% block additionalStatic %}
{% load static %}
<link rel="stylesheet" href="{% static 'errors/css/one.css' %}">
<link rel="stylesheet" href="{% static 'errors/css/imagescroll.css' %}">
<script src="{% static 'js/modals.js' %}" defer></script>
<script src="{% static 'js/tooltip.js' %}" defer></script>
<script src="{% static 'errors/js/imagescroll.js' %}" defer></script>
<script src="{% static 'errors/js/one.js' %}" defer></script>
{% endblock %}

{% block navbarContent %}<h4>{{error.message}}</h4>{% endblock %}
{% block content %}
<div class="container row">
    <div class="col s12 w3-content w3-display-container">
        <p></p>
        {% for e in error.images.all %}
            <div class="individual-slides">
                <div class="row internal images">
                    <div class="col s4">
                        <p>Error Message</p>
                        {% if e.image_error %}
                        <img src="/{{e.image_error}}" alt="error">
                        {% endif %}
                    </div>
                    <div class="col s4">
                        <p>Code Before</p>
                        {% if e.image_code_error %}
                        <img src="/{{e.image_code_error}}" alt="error">
                        {% endif %}
                    </div>
                    <div class="col s4">
                        <p>Code After</p>
                        {% if e.image_code_fix %}
                        <img src="/{{e.image_code_fix}}" alt="">
                        {% elif request.user == e.uploader %}
                        <form action="{% url 'main:add_solution' e.id %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="file-field input-field">
                                <div class="btn"><span>Upload</span><input type="file" name="code_fix"></div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" placeholder="your code with a solution" type="text">
                                </div>
                            </div>
                            <div class="center-align">
                                <input type="submit" value="Add" class="btn">
                            </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
                <div id="explanations">
                    <div class="col s2">
                        <p>EXPLANATIONS</p>
                        <ul class="gray-text xs-text">
                            <li>What were you trying to do?</li>
                            <li>How would you describe the error in your own words?</li>
                            <li>How did you solve this?</li>
                        </ul>
                    </div>
                    <div class="col 10 responses">
                        {% for exp in e.explanations.all %}
                            <p class="left-align"><span class="italics">{{exp.explainer.username}} said</span>: {{exp.content}}</p>
                        {% endfor %}
                        <form action="/add/explanation/{{e.id}}" method="POST" class="left-align" id="add-exp-form">
                            {% csrf_token %}
                            <input type="text" name="exp" placeholder="add your own explanation..." class="browser-default add-explanation">
                            <button class="btn btn-small">add</button>
                        </form>
                    </div>
                </div>
            </div>  
        {% endfor %}
        <a id="add-btn" class="btn-floating btn-large modal-trigger tooltipped yellow" href="#submit-images-modal" data-tooltip="Upload my {{error.message}}" data-position="left"><i class="large material-icons">add</i>
        </a>
    </div>
        {% if error.images.count > 1 %}
        <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
        {% endif %}
</div>

<!-- MODALS -->

<!-- Screenshot How-To -->
<div id="howto-screenshot-modal" class="modal">
    <h5>How Do I Save Screenshots?</h5>
    <div class="modal-content row internal">
        <div class="col s6">
            <h6>For Windows:</h6>
            <ol>
                <li>Have the error(s) displayed on your screen</li>
                <li>Type "snipping tool" in your search bar and open the tool
                    <ul>
                        <li><img src="{% static 'errors/images/searchbar.PNG' %}" alt="" style="width: 50%;"></li>
                    </ul>
                </li>
                <li>In the Snipping Tool menu, click "New"</li>
                <li>Drag a box around the errors you want to submit</li>
                <li>If you don't like what was grabbed, just click "New" and start over. Otherwise, click "Save."</li>
            </ol>
        </div>
        <div class="col s6">
            <h6>For Macs:</h6>
            <ol>
                <li>Have the error(s) displayed on your screen</li>
                <li>Press <kbd>Shift-Command-4</kbd></li>
                <li>Drag a box around the errors you want to submit</li>
                <li>The screenshot should now be saved as a .png file on your desktop</li>
            </ol>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Got it!</a>
    </div>
</div>
    
<!-- Submit Images -->
<div id="submit-images-modal" class="modal">
    <h5>Report an {{error.message}}</h5>
    <div class="modal-content">
        <form action="{% url 'main:add' error.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row interal">
                <div class="col s1">
                    <p class="rotated-text">Upload Screenshots<a class="modal-trigger" href="#howto-screenshot-modal"><i class="material-icons">info_outline</i></a></p>
                </div>
                <div class="col s11">
                    <div class="file-field input-field">
                        <div class="btn"><span>File</span><input type="file" name="error"></div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" placeholder="error message in terminal/browser" type="text">
                        </div>
                    </div>
                    <div class="file-field input-field">
                        <div class="btn"><span>File</span><input type="file" name="code_error"></div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" placeholder="your code with error" type="text">
                        </div>
                    </div>
                    <div class="file-field input-field">
                        <div class="btn"><span>File</span><input type="file" name="code_fix"></div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" placeholder="your code with a solution" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <p>Explanation (optional): <textarea name="explanation" class="materialize-textarea"></textarea></p>
            <div class="center-align">
                <input type="submit" value="Submit" class="btn">
            </div>
        </form>
    </div>
</div>
    
{% endblock %}